
/* Layout for donate amount and button */
.donate_form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 2rem;
}

/* Center form horizontally and vertically */
.form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/* Styling for input field */
.donation_input {
    
    /* Custom colors */
    --main-color: rgb(46, 213, 115);

    width: 50%;
    margin: 0 auto;
    display: block;

    /* Same style as buttons */
    color: var(--main-color);
    background-color: rgba(46, 213, 116, 0.1);
    border: 1px solid var(--main-color);
    border-radius: 4px;

    padding: 0.5rem 0.5rem;
    outline: none;
    transition: box-shadow 0.2s ease-in-out;
}

/* Styling for placeholder text */
.donation_input::placeholder {
    color: var(--main-color);
    opacity: 1;
    font-weight: 900;
    text-align: center;
  }


/* Styling for total amount display */
.total_donations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    margin-bottom: 1.5rem;
    pointer-events: none;
    cursor: default;

    /* Overwrite border from donate_btn */
    border-style: solid;
    border-width: 10px 10px;
    border-image: radial-gradient(
        circle,
        var(--main-color) 0%,
        rgba(0, 0, 0, 0) 100%
    ) 1;
}

.span_text {
    font-size: 1.5rem;
    font-weight: 600;
}

.span_sum {
    font-size: 2rem;
    font-weight: 700;
}