<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkout.css') }}">
    <title>I'm sorry</title>
</head>
<body>
    <div class="cancel_container">
        <h1>Something went wrong.... or you backed out.</h1>
        <p>Either way - IT's OK.</p>
        <a href="{{ url_for('home') }}" class="home_btn">Back to homepage</a>    
    </div>
    
</body>
</html>