<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Testing..</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header_wrapper>">
                <div class="header_nav">
                    <a href="#" class="nav_logo">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" class="logo">
                    </a>
                    <div class="nav_items">
                        <a href="#" class="nav_link">About</a>
                    </div>
                </div>
            </div>
        </div>
          
    </header>
</body>
</html>